// 1. LAS REGLAS @use VAN PRIMERO QUE TODO
@use 'variables' as *;

// 2. LUEGO LA FUENTE
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=JetBrains+Mono:wght@400&display=swap');

// 3. ESTILOS GLOBALES
body {
  background-color: $bg-color;
  background-image: radial-gradient(#111 1px, transparent 1px);
  background-size: 20px 20px;
  color: $text-main;
  font-family: 'Inter', sans-serif;
  margin: 0; padding: 0;
  -webkit-font-smoothing: antialiased;
}

button, input, select, textarea { font-family: inherit; border-radius: 0; box-sizing: border-box; }
.mono-font { font-family: 'JetBrains Mono', monospace; }

// 4. AL FINAL IMPORTAMOS LOS COMPONENTES
@use 'auth';
@use 'vault';